<ul id="sidemenu_root">
	<li> <a href="#attribute-containers"> Attribute containers </a> </li>
	<li> <a href="#basic-types"> Basic types </a> </li>
	<li> <a href="#attributes"> Attributes </a> </li>
	<li>
		<a href="#global-traversals"> Global traversals </a>
		<ul>
			<li> <a href="#early-stop"> Early stop </a> </li>
			<li> <a href="#parallelism"> Parallelism </a> </li>
			<li> <a href="#masks"> Masks </a> </li>
			<li>
				<ul>
					<li> <a href="#filtering-functions"> Filtering functions </a> </li>
					<li> <a href="#cell-filters"> Cell filters </a> </li>
					<li> <a href="#cell-traversors"> Cell traversors </a> </li>
				</ul>
			</li>
		</ul>
	</li>
	<li> <a href="#local-traversals"> Local traversals </a> </li>
	<li> <a href="#operators"> Operators </a> </li>
</ul>